@import "components/header";
@import "components/contacto";
@import "components/footer";
@import "components/index";
@import "components/quienes-somos";
@import "components/servicios";
@import"base/mediaquery";
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:display=swap);
@font-face {
    font-family: "Gotham";
    src: url(../assets/fonts/Gotham-Font/GothamBold.ttf);
}
*{
    margin: 0px;
    padding: 0px;
}