footer{
    display: block;
    width: 100%;
    background-color: whitesmoke;
    padding-top: 3em;
    padding-bottom: 3em;
}
.redes{
    text-align: center;
    align-items: center;
    color: #012e40;
    font-size: 20px;
    font-family: Roboto;
    text-decoration-line: underline;

}
.iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}
footer a{
    text-decoration: none;
}
.icon{
    padding: 15px;
    font-size: 40px;
    text-align: center;
    color: white;
}