main{
    margin-top: 0px;
    margin-bottom: 50px;
}
.banner img{
    width: 100%;   
}
.carousel-inner{
    height: 450px;
}
.presentacion-container section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.presentacion-titulo{
    color: #FFBC14;
    font-size: 3em;
    font-family: Gotham;
    padding: 20px;
}
.presentacion-parrafo{
    font-size: 25px;
    font-family: Roboto;
    text-align: center;
    margin: 20px;
    padding: 40px;
}
.linea{
    border-top: 5px solid #f28705;
    height: 2px;
    max-width: 200px;
    padding: 0px;
    margin: 20px auto 0 auto;
}
.servicios {
    padding: 2em;
    border-left: 1px ridge #818274;
    border-right: 1px ridge #818274;
    margin: 20px;
}

.servicios h1{
    text-align: center;
    color: #FFBC14;
    font-size: 55px;
    font-family: Roboto;
    padding: 30px;
    background-color: #038c8c;
    margin-bottom: 20px;
}

.refe{
    text-align: center;
    font-size: 20px;
    color: #818274
}
.tarjetas-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 50px;
    padding: 30px;
    background-color:#F2F2F2 ;
}
.tarjeta:hover{
    background-color: #FFBC14;
}
.tarjeta-imagen {
    border-radius: 5px;
    width: 100%;
}
.tarjeta-imagen::selection{
    scale: 10%;
}
.subtitulo{
    color: #038c8c;
    padding-top: 30px;
    
}
.parrafo{
    text-align: justify;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #818274;
}