@media screen and (max-width: 800px){
    li ul{
        margin: 0%;
    }
    .tarjetas-container{
        flex-wrap: wrap;

    }
    .tarjeta{
        width: 100%;
        margin: 5%;
    }

    .clasificacion{
        width: 100%;
        margin: 5px;
        padding: 10px;
    }

    .form{
        width: 80%;
    }
    .titulos{
        padding: auto;
        width: auto;
    }
    .encabezado{
        width: auto;
    }
}

@media screen and (max-width: 900px){
    .quienes-somos{
        flex-wrap: wrap;
        margin: auto;
    }
    .foto-container{
        align-self: center;
    }
    .titulos{
        padding: auto;
        width: auto;
    }
    .encabezado{
        width: auto;
    }
    .clasificacion{
        width: 100%;
        margin: 5px;
        padding: 10px;
    }
}